.page-header
    h1 Registration
form(role='form'
     name='form'
     ng-submit='$ctrl.submit(form.$valid)'
     novalidate)
    .form-group
        .input-group.input-wrapper
            .input-group-addon
                span.glyphicon.glyphicon-user
            input.form-control( type='text'
                                name='name'
                                ng-model='$ctrl.name'
                                placeholder='Name (optional)')
    .form-group(ng-class!="{ 'has-error': form.email.$touched && form.email.$invalid, 'has-success': form.email.$touched && form.email.$valid }")
        .input-group.input-wrapper
            .input-group-addon
                span.glyphicon @
            input.form-control( type='email'
                                name='email'
                                ng-model='$ctrl.email'
                                placeholder='E-mail*'
                                required)
        .help-block(ng-messages='form.email.$error' ng-show='form.email.$touched')
            include validationErrors.pug
    .form-group(ng-class!="{ 'has-error': form.password.$touched && form.password.$invalid, 'has-success': form.password.$touched && form.password.$valid }")
        .input-group.input-wrapper
            .input-group-addon
                i.fa.fa-key(aria-hidden='true')
            input.form-control( type='password'
                                name='password'
                                ng-model='$ctrl.password'
                                placeholder='Password*'
                                ng-minlength='8'
                                required)
        .help-block(ng-messages='form.password.$error' ng-show='form.password.$touched')
            include validationErrors.pug
    .form-group(ng-class!="{ 'has-error': form.confirmationPassword.$touched && form.confirmationPassword.$invalid, 'has-success': form.confirmationPassword.$touched && form.confirmationPassword.$valid }")
        .input-group.input-wrapper
            .input-group-addon
                i.fa.fa-check(aria-hidden='true')
            input.form-control( type='password'
                                name='confirmationPassword'
                                ng-model='$ctrl.confirmationPassword'
                                placeholder='Confirmation password*'
                                required
                                compare-to='$ctrl.password')
        .help-block(ng-messages='form.confirmationPassword.$error' ng-show='form.confirmationPassword.$touched')
            include validationErrors.pug
    .form-group
        button.btn.btn-black.btn-block(type='submit' ng-disabled='form.$invalid') Sign up